<div class="opponent_table">
  <div class="row" id="0">
    <div class ="column" id="A"></div>
    <div class ="column" id="B"></div>
    <div class ="column" id="C"></div>
    <div class ="column" id="D"></div>
    <div class ="column" id="E"></div>
    <div class ="column" id="F"></div>
    <div class ="column" id="G"></div>
    <div class ="column" id="H"></div>
    <div class ="column" id="I"></div>
    <div class ="column" id="J"></div>
  </div>






</div>
