<h1>Opponent Board</h1>
<div class="opponent board">
  <div class="row" id="0">
    <div class ="column" id="A">A0</div>
    <div class ="column" id="B">B0</div>
    <div class ="column" id="C">C0</div>
    <div class ="column" id="D">D0</div>
    <div class ="column" id="E">E0</div>
    <div class ="column" id="F">F0</div>
    <div class ="column" id="G">G0</div>
    <div class ="column" id="H">H0</div>
    <div class ="column" id="I">I0</div>
    <div class ="column" id="J">J0</div>
  </div>
  <div class="row" id="1">
    <div class ="column" id="A">A1</div>
    <div class ="column" id="B">B1</div>
    <div class ="column" id="C">C1</div>
    <div class ="column" id="D">D1</div>
    <div class ="column" id="E">E1</div>
    <div class ="column" id="F">F1</div>
    <div class ="column" id="G">G1</div>
    <div class ="column" id="H">H1</div>
    <div class ="column" id="I">I1</div>
    <div class ="column" id="J">J1</div>
  </div>
  <div class="row" id="2">
    <div class ="column" id="A">A2</div>
    <div class ="column" id="B">B2</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">D2</div>
    <div class ="column" id="E">E2</div>
    <div class ="column" id="F">F2</div>
    <div class ="column" id="G">G2</div>
    <div class ="column" id="H">H2</div>
    <div class ="column" id="I">I2</div>
    <div class ="column" id="J">J2</div>
  </div>
  <div class="row" id="3">
    <div class ="column" id="A">D0</div>
    <div class ="column" id="B">D1</div>
    <div class ="column" id="C">D2</div>
    <div class ="column" id="D">D3</div>
    <div class ="column" id="E">D4</div>
    <div class ="column" id="F">D5</div>
    <div class ="column" id="G">D6</div>
    <div class ="column" id="H">D7</div>
    <div class ="column" id="I">D8</div>
    <div class ="column" id="J">D9</div>
  </div>
  <div class="row" id="4">
    <div class ="column" id="A">C0</div>
    <div class ="column" id="B">C1</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">C3</div>
    <div class ="column" id="E">C4</div>
    <div class ="column" id="F">C5</div>
    <div class ="column" id="G">C6</div>
    <div class ="column" id="H">C7</div>
    <div class ="column" id="I">C8</div>
    <div class ="column" id="J">C9</div>
  </div>
  <div class="row" id="5">
    <div class ="column" id="A">C0</div>
    <div class ="column" id="B">C1</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">C3</div>
    <div class ="column" id="E">C4</div>
    <div class ="column" id="F">C5</div>
    <div class ="column" id="G">C6</div>
    <div class ="column" id="H">C7</div>
    <div class ="column" id="I">C8</div>
    <div class ="column" id="J">C9</div>
  </div>
  <div class="row" id="6">
    <div class ="column" id="A">C0</div>
    <div class ="column" id="B">C1</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">C3</div>
    <div class ="column" id="E">C4</div>
    <div class ="column" id="F">C5</div>
    <div class ="column" id="G">C6</div>
    <div class ="column" id="H">C7</div>
    <div class ="column" id="I">C8</div>
    <div class ="column" id="J">C9</div>
  </div>
  <div class="row" id="7">
    <div class ="column" id="A">C0</div>
    <div class ="column" id="B">C1</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">C3</div>
    <div class ="column" id="E">C4</div>
    <div class ="column" id="F">C5</div>
    <div class ="column" id="G">C6</div>
    <div class ="column" id="H">C7</div>
    <div class ="column" id="I">C8</div>
    <div class ="column" id="J">C9</div>
  </div>
  <div class="row" id="8">
    <div class ="column" id="A">C0</div>
    <div class ="column" id="B">C1</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">C3</div>
    <div class ="column" id="E">C4</div>
    <div class ="column" id="F">C5</div>
    <div class ="column" id="G">C6</div>
    <div class ="column" id="H">C7</div>
    <div class ="column" id="I">C8</div>
    <div class ="column" id="J">C9</div>
  </div>
  <div class="row" id="9">
    <div class ="column" id="A">C0</div>
    <div class ="column" id="B">C1</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">C3</div>
    <div class ="column" id="E">C4</div>
    <div class ="column" id="F">C5</div>
    <div class ="column" id="G">C6</div>
    <div class ="column" id="H">C7</div>
    <div class ="column" id="I">C8</div>
    <div class ="column" id="J">C9</divD
  </div>
</div>
