<h1>Player 1 Board</h1>
<div class="player_1 board">
  <div class="row" id="0">
    <div class ="column" id="A">A0</div>
    <div class ="column" id="B">B0</div>
    <div class ="column" id="C">C0</div>
    <div class ="column" id="D">D0</div>
    <div class ="column" id="E">E0</div>
    <div class ="column" id="F">F0</div>
    <div class ="column" id="G">G0</div>
    <div class ="column" id="H">H0</div>
    <div class ="column" id="I">I0</div>
    <div class ="column" id="J">J0</div>
  </div>
  <div class="row" id="1">
    <div class ="column" id="A">A1</div>
    <div class ="column" id="B">B1</div>
    <div class ="column" id="C">C1</div>
    <div class ="column" id="D">D1</div>
    <div class ="column" id="E">E1</div>
    <div class ="column" id="F">F1</div>
    <div class ="column" id="G">G1</div>
    <div class ="column" id="H">H1</div>
    <div class ="column" id="I">I1</div>
    <div class ="column" id="J">J1</div>
  </div>
  <div class="row" id="2">
    <div class ="column" id="A">A2</div>
    <div class ="column" id="B">B2</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">D2</div>
    <div class ="column" id="E">E2</div>
    <div class ="column" id="F">F2</div>
    <div class ="column" id="G">G2</div>
    <div class ="column" id="H">H2</div>
    <div class ="column" id="I">I2</div>
    <div class ="column" id="J">J2</div>
  </div>
  <div class="row" id="3">
    <div class ="column" id="A">A3</div>
    <div class ="column" id="B">B3</div>
    <div class ="column" id="C">C3</div>
    <div class ="column" id="D">D3</div>
    <div class ="column" id="E">E3</div>
    <div class ="column" id="F">F3</div>
    <div class ="column" id="G">G3</div>
    <div class ="column" id="H">H3</div>
    <div class ="column" id="I">I3</div>
    <div class ="column" id="J">J3</div>
  </div>
  <div class="row" id="4">
    <div class ="column" id="A">A4</div>
    <div class ="column" id="B">B4</div>
    <div class ="column" id="C">C4</div>
    <div class ="column" id="D">D4</div>
    <div class ="column" id="E">E4</div>
    <div class ="column" id="F">F4</div>
    <div class ="column" id="G">G4</div>
    <div class ="column" id="H">H4</div>
    <div class ="column" id="I">I4</div>
    <div class ="column" id="J">J4</div>
  </div>
  <div class="row" id="5">
    <div class ="column" id="A">A5</div>
    <div class ="column" id="B">B5</div>
    <div class ="column" id="C">C5</div>
    <div class ="column" id="D">D5</div>
    <div class ="column" id="E">E5</div>
    <div class ="column" id="F">F5</div>
    <div class ="column" id="G">G5</div>
    <div class ="column" id="H">H5</div>
    <div class ="column" id="I">I5</div>
    <div class ="column" id="J">J5</div>
  </div>
  <div class="row" id="6">
    <div class ="column" id="A">A6</div>
    <div class ="column" id="B">B6</div>
    <div class ="column" id="C">C6</div>
    <div class ="column" id="D">D6</div>
    <div class ="column" id="E">E6</div>
    <div class ="column" id="F">F6</div>
    <div class ="column" id="G">G6</div>
    <div class ="column" id="H">H6</div>
    <div class ="column" id="I">I6</div>
    <div class ="column" id="J">J6</div>
  </div>
  <div class="row" id="7">
    <div class ="column" id="A">A7</div>
    <div class ="column" id="B">B7</div>
    <div class ="column" id="C">C7</div>
    <div class ="column" id="D">D7</div>
    <div class ="column" id="E">E7</div>
    <div class ="column" id="F">F7</div>
    <div class ="column" id="G">G7</div>
    <div class ="column" id="H">H7</div>
    <div class ="column" id="I">I7</div>
    <div class ="column" id="J">J7</div>
  </div>
  <div class="row" id="8">
    <div class ="column" id="A">A8</div>
    <div class ="column" id="B">B8</div>
    <div class ="column" id="C">C8</div>
    <div class ="column" id="D">D8</div>
    <div class ="column" id="E">E8</div>
    <div class ="column" id="F">F8</div>
    <div class ="column" id="G">G8</div>
    <div class ="column" id="H">H8</div>
    <div class ="column" id="I">I8</div>
    <div class ="column" id="J">J8</div>
  </div>
  <div class="row" id="9">
    <div class ="column" id="A">A9</div>
    <div class ="column" id="B">B9</div>
    <div class ="column" id="C">C9</div>
    <div class ="column" id="D">D9</div>
    <div class ="column" id="E">E9</div>
    <div class ="column" id="F">F9</div>
    <div class ="column" id="G">G9</div>
    <div class ="column" id="H">H9</div>
    <div class ="column" id="I">I9</div>
    <div class ="column" id="J">J9</div>
  </div>
</div>

<h1>Player 2 Board</h1>
<div class="player_2 board">
  <div class="row" id="0">
    <div class ="column" id="A">A0</div>
    <div class ="column" id="B">B0</div>
    <div class ="column" id="C">C0</div>
    <div class ="column" id="D">D0</div>
    <div class ="column" id="E">E0</div>
    <div class ="column" id="F">F0</div>
    <div class ="column" id="G">G0</div>
    <div class ="column" id="H">H0</div>
    <div class ="column" id="I">I0</div>
    <div class ="column" id="J">J0</div>
  </div>
  <div class="row" id="1">
    <div class ="column" id="A">A1</div>
    <div class ="column" id="B">B1</div>
    <div class ="column" id="C">C1</div>
    <div class ="column" id="D">D1</div>
    <div class ="column" id="E">E1</div>
    <div class ="column" id="F">F1</div>
    <div class ="column" id="G">G1</div>
    <div class ="column" id="H">H1</div>
    <div class ="column" id="I">I1</div>
    <div class ="column" id="J">J1</div>
  </div>
  <div class="row" id="2">
    <div class ="column" id="A">A2</div>
    <div class ="column" id="B">B2</div>
    <div class ="column" id="C">C2</div>
    <div class ="column" id="D">D2</div>
    <div class ="column" id="E">E2</div>
    <div class ="column" id="F">F2</div>
    <div class ="column" id="G">G2</div>
    <div class ="column" id="H">H2</div>
    <div class ="column" id="I">I2</div>
    <div class ="column" id="J">J2</div>
  </div>
  <div class="row" id="3">
    <div class ="column" id="A">A3</div>
    <div class ="column" id="B">B3</div>
    <div class ="column" id="C">C3</div>
    <div class ="column" id="D">D3</div>
    <div class ="column" id="E">E3</div>
    <div class ="column" id="F">F3</div>
    <div class ="column" id="G">G3</div>
    <div class ="column" id="H">H3</div>
    <div class ="column" id="I">I3</div>
    <div class ="column" id="J">J3</div>
  </div>
  <div class="row" id="4">
    <div class ="column" id="A">A4</div>
    <div class ="column" id="B">B4</div>
    <div class ="column" id="C">C4</div>
    <div class ="column" id="D">D4</div>
    <div class ="column" id="E">E4</div>
    <div class ="column" id="F">F4</div>
    <div class ="column" id="G">G4</div>
    <div class ="column" id="H">H4</div>
    <div class ="column" id="I">I4</div>
    <div class ="column" id="J">J4</div>
  </div>
  <div class="row" id="5">
    <div class ="column" id="A">A5</div>
    <div class ="column" id="B">B5</div>
    <div class ="column" id="C">C5</div>
    <div class ="column" id="D">D5</div>
    <div class ="column" id="E">E5</div>
    <div class ="column" id="F">F5</div>
    <div class ="column" id="G">G5</div>
    <div class ="column" id="H">H5</div>
    <div class ="column" id="I">I5</div>
    <div class ="column" id="J">J5</div>
  </div>
  <div class="row" id="6">
    <div class ="column" id="A">A6</div>
    <div class ="column" id="B">B6</div>
    <div class ="column" id="C">C6</div>
    <div class ="column" id="D">D6</div>
    <div class ="column" id="E">E6</div>
    <div class ="column" id="F">F6</div>
    <div class ="column" id="G">G6</div>
    <div class ="column" id="H">H6</div>
    <div class ="column" id="I">I6</div>
    <div class ="column" id="J">J6</div>
  </div>
  <div class="row" id="7">
    <div class ="column" id="A">A7</div>
    <div class ="column" id="B">B7</div>
    <div class ="column" id="C">C7</div>
    <div class ="column" id="D">D7</div>
    <div class ="column" id="E">E7</div>
    <div class ="column" id="F">F7</div>
    <div class ="column" id="G">G7</div>
    <div class ="column" id="H">H7</div>
    <div class ="column" id="I">I7</div>
    <div class ="column" id="J">J7</div>
  </div>
  <div class="row" id="8">
    <div class ="column" id="A">A8</div>
    <div class ="column" id="B">B8</div>
    <div class ="column" id="C">C8</div>
    <div class ="column" id="D">D8</div>
    <div class ="column" id="E">E8</div>
    <div class ="column" id="F">F8</div>
    <div class ="column" id="G">G8</div>
    <div class ="column" id="H">H8</div>
    <div class ="column" id="I">I8</div>
    <div class ="column" id="J">J8</div>
  </div>
  <div class="row" id="9">
    <div class ="column" id="A">A9</div>
    <div class ="column" id="B">B9</div>
    <div class ="column" id="C">C9</div>
    <div class ="column" id="D">D9</div>
    <div class ="column" id="E">E9</div>
    <div class ="column" id="F">F9</div>
    <div class ="column" id="G">G9</div>
    <div class ="column" id="H">H9</div>
    <div class ="column" id="I">I9</div>
    <div class ="column" id="J">J9</div>
  </div>
</div>
