body {
  background-image: url(/assets/lightning_background.jpg);
  text-align: center;
  font-family: helvetica;
  height: 100vh;
}


h1 {
  color: white;
}


.board {
  background: darkblue;
  margin: 10px auto;
  width: 50%;
  border-radius: 10px;
  padding: 5px;
}

.column {
  border: solid 3px cornflowerblue;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 4px;
  background-image: url(/assets/water_background.jpg);
}

.ship {
  background-image: url(/assets/ship_background.gif);
  color: white;
}


.row {
  display: flex;
  height: 50px;
}

.miss {
   background-image: url(/assets/splash_background.jpg);
}

.hit {
  background-image: url(/assets/fire_background.jpg);

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
